:root {
    --main-text: #757575;
    --gray-text: #212121;
    --blue-text: #2196F3;
    --white-text: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    color: var(--main-text);
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
ul,h1,h2,h6,p,h3,button{
    padding:0;
    margin:0;
}
.header{
    padding: 24px 0 25px;
}

.header-logo-web {
    color:var(--blue-text);
    font-size: 26px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
}

.header-logo-studio {
    color:var(--gray-text);
    font-size: 26px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
}

.navigation {
    color: var(--gray-text);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
}

.navigation-link {
    font-size: 14px;
    
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
}

.contact-block {

    font-size: 14px;
    
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
}
.hero{
    padding: 200px 0;
}

.hero_title {
    color: var(--white-text);
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 2.64px;
    word-wrap: break-word;
    margin: 0 0 30px;
    text-align: center;
}

.hero_btn {
    color: var(--white-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    word-wrap: break-word;
    background-color: #2196F3;
    border-radius: 4px;
    width: 216px;
height: 50px;
margin: 0 auto;
display:block;
}
.feature{
    padding: 94px 0;
}

.feature-title {
    color: var(--gray-text);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    word-wrap: break-word;
    margin-bottom: 10px;
}



.feature-text {

    font-size: 14px;
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
}
.box{
    padding-bottom:94px;  
}
.box-title{
    margin-bottom: 50px;
    color: #212121;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 1.08px;
}


.team{
    padding:94px 0 ;
}

.team-title {
    color: var(--gray-text);
    font-size: 36px;
    
    font-weight: 700;
    letter-spacing: 1.08px;
    word-wrap: break-word;
    margin-bottom: 50px;
}

.team-item-title {
    color: var(--gray-text);
    font-size: 16px;
    
    font-weight: 500;
    letter-spacing: 0.48px;
    word-wrap: break-word;
    margin-bottom: 30px;
    margin-top: 30px;
}

.team-text {
    font-size: 16px;
    
    font-weight: 400;
    letter-spacing: 0.48px;
    word-wrap: break-word;
}
.footer{
    padding: 60px 0;
}

.footer-logo-web {
    color: var(--blue-text);
    font-size: 26px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.footer-logo-studio {
    color: var(--white-text);
    font-size: 26px;
    font-family:"Raleway",sans-serif;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
}


.footer-text {
    color: var(--white-text);
    font-size: 14px;
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
}
.hero,
footer {
    background-color: #2F303A;
}
